img {
 
  
  max-width: 50%;
}


.backgroundColorForP {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  text-align: left;
  background-color: #121b24;
}
.shapeLink{
max-width: 50%;
padding-top: 0%;

}
.shapeLink>img{
  max-width: 100%;
  max-height: 100%;
}
.padding {
  padding-top: 150px;
}



.col-padding{
  padding-top: 150px;
  
}



.center{
  text-align: center;
}

.block{
  display: block;
  
}
.skillsCard{
  display: flex;
justify-content: center;
width: 80%;
height: 80%;
align-items: center;
border-radius: 10px;

}
.por-card{
  flex-direction: row;
  border: 5px solid rgb(255, 255, 255);
  background-color: aliceblue;
}

section{
  height: 25rem;
 overflow: auto;
  background-color: aliceblue;
  border-radius: 5%;
  padding-bottom: 2rem;
}
.icon{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
   
  
  
}

.iconsize{

  width:  100px;
  height: 100px;
  object-fit:contain;
  justify-content: center;
  max-block-size: -webkit-fill-available
}
.skillsCard > img{
  max-width: 100%;
  align-items: center;
}

@media (max-width: 500px) {
  .shapeLink{
    max-width: 100%;
    display: flex;
    justify-self: center;
  }
.por-card{
  flex-direction: column;
}
  p{
    font-size: 1rem;

  }
  .skillpadding{
    padding-bottom: 2rem;
  }
  .iconsize{

   
    height: 75%;

  }
}
