
#tsparticles {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}
h1 {
  color: aliceblue;
  text-align: left;
  font-family: "Orbitron", sans-serif;
  font-size: 4rem;
  margin-bottom: 25px;
}
h2 {
  font-family: "Orbitron", sans-serif;
  color: aliceblue;
  font-size: 2rem;
}
.jumbotro{
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  /* background-color: #e9ecef; */
  border-radius: 0.3rem;
}
a{
  color:white;
  text-align: center;
  padding-top: 2rem;
  display: block;
}
